div {
    display: inline-block;
}

span {
    padding: 0 7px 2px 5px;
    border-radius: 7px;
    color: white;
}
span.red    {background-color: red;}
span.green {background-color: green;}
span.blue {background-color: blue;}

/*input   {display: none;}*/

#red + label   {color: red;}
#green + label  {color: green;}
#blue + label  {color: blue; margin-right: 100px;}

label   {
    font-size: 20px;
    margin: 0 10px 0 5px;
    text-decoration: underline;
}

input#red:checked ~ .red  {display: none;}
input#green:checked ~ .green {display: none;}
input#blue:checked ~ .blue {display: none;}

:checked + label {
    font-size: 10px;
    font-style: italic;
    background-color: #ddebf7;
}