.lesson_plan {
    font: 600 small-caps 30px/1.5em "Comic Sans MS", sans-serif ;
    text-shadow: -1px 2px 5px yellow;
}
.lesson_plan__title {
    text-align: center;
    background: lightcyan;
    line-height: 3em;
    margin: 0;
}

.lesson_plan__list p {
    color: black;
    font: 700 normal 15px/1.2em sans-serif;
    letter-spacing: normal;
    word-spacing: normal;

}
.lesson_plan__list code {
    background: lightgoldenrodyellow;
}
.syntaxis_example {
    font: bold italic 13px Arial,sans-serif;
    text-shadow: 1px -1px 2px red;
}




                                       /*!!! TRANSITION !!!*/

/*~~~ TRANSITION + MULTIPLE TRANSITION ~~~*/
.transition_body {
    background: rgba(255,0,0,0.15);
    padding: 40px 0;
}
.transition {
    margin: 20px;
    width: 150px;
    height:100px;
    background: lightseagreen;
    border:1px solid black;
    color: black;
    letter-spacing: normal;
    font: 20px/1em serif;
}
.transition:hover {
    color: white;
    background: black;
    width: 300px;
    /*transition: backround-color, color, width 1.5s;*/
    transition:
            background-color 1s,
            color 1.7s,
            width 1.5s;
}
/*~~~ TIMING FUNCTION ~~~*/
.func_linear:hover {transition-timing-function: linear;}

.func_ease:hover {transition-timing-function: ease;}

.func_ease_out:hover {transition-timing-function: ease-out;}

.func_ease_in:hover {transition-timing-function: ease-in;}

.func_step_start:hover {transition-timing-function: step-start;}

.func_step_end:hover {transition-timing-function: step-end;}

.func_cubic_bezier:hover {transition-timing-function: cubic-bezier(0.1,-0.7,0.1,0)}

/*~~~ TRANSITION-DELAY ~~~*/
.delay:hover {transition-delay: 0.75s;}

                           /*!!! TRANSFORM !!!*/
.transform_body {
    background: rgba(10,0,155,0.2);
    padding: 40px 0;
}
.transform_box {
    width: 200px;
    height: 200px;
    background: orange;
    margin: 20px;
}
.transform_box:hover {
    transform:
            translate(20px,20px)
            scale(0.7,0.7)
            rotate(95deg)
            skew(20deg,30deg);
    transition:
            transform 1.1s linear;
}
/*~~~ TRANSFORM-ORIGIN ~~~*/
.origin:hover {
    transform-origin: 100% 0;
}

                                                         /*!!! ANIMATION !!!*/
.animation_body {
    background: rgba(0,100,25,0.25);
    padding: 40px 0;
}
.animation_box {
    width:100px;
    height:75px;
    background: red;
    color: white;
    font: 100 normal 15px Arian, sans-serif;
    transition:
            width 1s linear,
            color 1s linear,
            background 1s linear;
}
/*~~~ animation ~~~*/

@keyframes my_custom_name {
    from {width: 0;}
    25% {width: 100px;}
    50% {width: 170px;}
    75% {width: 200px;}
    to {width: 250px;}
}
.animated {animation: 2s my_custom_name;}


/*~~~ animation + transition ~~~*/


#anime_chex:checked ~ div {
    animation: 1.5s my_custom_name;
    width: 250px;
}

/*~~~ multiple animation ~~~*/

@keyframes my_custom_name2 {
    from {color: white;}
    10% {color: blue; opacity: 0.7;}
    30% {color: blueviolet; opacity: 0.2;}
    50% {color: green; opacity: 1;}
    80% {color: yellow}
    to {color: black;}
}
@keyframes my_custom_name3 {
    from {background: red;}
    25% {
        background: green;}
    50% {
        background: yellow;}
    75% {
        background: lightcyan;  }
    to {
        background: white;}
}

#anime_chex2:checked ~ div,
#anime_chex3:checked ~ div
{
    animation:
            2s my_custom_name infinite,
            2s my_custom_name2 infinite,
            2s my_custom_name3 infinite;
    width: 250px;
    color: black;
    background: white;
}
/*~~~ animation pause    &      animation stop ~~~*/
#anime_pause:checked ~ div {
    animation-play-state: paused;
}
#anime_stop:checked ~ div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}






