body {
    width: 1700px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-bottom: 3px double #e6e6e6;
}
hr {margin: 80px 0 20px 0;}

/*!!!!!~~~~~~~~ HEADER ~~~~~~~~~~!!!!!!!*/
.header_block {
    position: relative;
}
.company_logo {
    display: inline-block;
    font: 400 40px "Oleo Script",sans-serif;
}
.company_name,
.company_description
{
    margin: 0;
    padding: 0;
}
.company_description {
    margin-top: 3px;
    font: 11px Arial, sans-serif;
    color: #999999;;
}

.menu_bar {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    color: #666666;
    font: 14px "Oxygen", sans-serif;
}


.menu_item {
    display: inline-block;
    position: relative;
    margin: 0 20px;
    padding: 7px 13px;
}
.menu_item:hover {
    color: #222222;
    background: #f5f5f5;
}
.menu_item:hover  .sub_menu_wrap {
    display: inline-block;
}
.sub_menu_wrap {
    white-space: nowrap;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 30px;
    left: -5px;
    border: solid #e0e0e0 1px;
    border-radius: 3px;
    background: white;
    font: 400 12px "Oxygen", sans-serif;
}
.sub_menu_wrap::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 14px;
    width: 10px;
    height: 10px;
    border: solid #e0e0e0;
    border-width: 0 1px 1px 0 ;
    background: #f5f5f5;
    transform: rotate(45deg) skew(-20deg,-20deg);
}
.sub_menu_item {
    margin: 0 10px;
    padding: 5px 0;
    list-style: none;
    border-bottom: 1px solid #e0e0e0;
}
.sub_menu_item:last-child {
    border: 0;
}

.sub_menu__article {
    margin: 0;
    padding: 4px 5px;
    color: #aaaaaa;
    font:400 10px Arial, sans-serif;
    border-radius: 5px;
}
.sub_menu__article:hover {
    background: #f5f5f5;
    border-bottom: 2px solid yellow;
}
.sub_menu__article_title {
    display: block;
    font: 400 12px "Oxygen", sans-serif;
    color: black;
}






.apply_button {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-right: 15px;
    padding: 5px 10px;
    background: #ffc552;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
    box-shadow: 1px 1px 3px grey;
    text-align: center;
    text-shadow: 1px -1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 5px;
}
.apply_button::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -11px;
    content: "";
    width: 30px;
    height: auto;
    background: #ffc552;
    border-radius: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
    border: 1px solid rgba(0,0,0,0.4);
    z-index: -1;
}
.apply_button a {
    color: white;
    text-decoration: none;
}

/*~~~~~~~~~~~~!!!!!!!!!!!!!!!! CYNEMATOGRAPHY !!!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~*/
.cinematography {
    display: flex;
    padding: 63px 74px;
}
.cinema__pic {
    position: relative;
    width: 500px;
    height: 300px;
    background: url("../images/super-hero.png") no-repeat;
    background-size: 100% 100%;
}
.cinema_pic__overlay {
    position: absolute;
    bottom: 10px;
    right: 6px;
    left: 5px;
    display: flex;
    height: 50px;
}
.overlay_box {
    background: rgba(0,0,0,0.7);
    border-radius: 5px;
}
.overlay_arrow {
    flex: 1;
    margin: 0 10px;
}
.overlay_main {
    flex: 4;
    padding: 5px;
}
.overlay__content_title {
    font: 13px Arila, sans-serif;
    color: #f6f6f6;
}
.overtlay__content_price {
    color: #ffc14c;
    font: 11px Arial, sans-serif;
}
.overtlay__content_location {
    color: #676767;
    font: 11px Arial, sans-serif;
}





.cinema_preview {
    width: 100%;
    padding: 0 20px;
    text-align: right;
    margin-left: 74px;
    font-family: Oxygen, sans-serif;
}
.cinema_preview__title {
    margin: 0;
    padding: 0;
    font-size: 38px;
    color: #515151;
}
.cinema_preview__article {
    font-size: 14px;
    color: #666666;
}
.cinema_preview__trailer_butt {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    text-align: left;
    line-height: 1em;
    border-radius: 5px;
    background: linear-gradient(to top, #efac3c, #efb74c);
}
.cinema_preview__trailer_butt::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -40px;
    content: '';
    width: 50px;
    border-radius: 5px;
    background: linear-gradient(to top, #efac3c, #efb74c);
}
.cinema_preview__trailer_butt a {
    margin: 10px;
    padding-right: 5px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 17px;
    border-right: 1px solid rgba(0,0,0,0.1);
    text-shadow: -0.05em 0.05em 0.01em rgba(0,0,0,0.3);
}
.trailer_quality {
    font: bold 10px Arial, sans-serif;
    color: #d28600;
    text-shadow: 0.01em 0.1em 3px yellow;
}

/*!!!!!!!!!!!!!!!!~~~~~~~~~~~~ SECTIONS_ARTICLES ~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!*/
.articles {
    font-family: Oxygen, sans-serif;
}
.articles_header {
    font-size: 18px;
}
.articles_body {
    display: flex;
}
.articles_columns {
    width: 566px;
}
.middle_column {
    margin: 0 20px;
}
.left_column .articles_pic_block {
    background: #f0f0f0;
}
.middle_column .articles_pic_block {
    background: #f4f4f4;
}
.right_column .articles_pic_block {
    background: #f6f6f6;
}

.articles_pic_block {
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom: 0;

}
.articles__pic_container {
    display: flex;
    box-sizing: border-box;
    background: url("../images/articles_pic1.jpg") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
    border: 2px solid transparent;
}
.articles__pic_container:hover > .article_pic__overlay_buttons {
    visibility: visible;
    animation: article_pic__overlay-display 0.3s ease;
}
.article_pic__overlay_buttons {
    visibility: hidden;
    display: flex;
    margin: auto;
}
.overlay__buttons_item {
    display: block;
    content: url(../images/galka.jpg);
    margin: 0 25px;
    padding: 15px;
    background: white;
    border-radius: 100%;
    border-bottom: 1px solid grey;
    box-shadow: 0 0 0 10px rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
}
.overlay__buttons_item:hover {
    transform: scale(2,2);
    box-shadow: 0 0 0 5px rgba(0,0,0,0.3);
}

.articles__pic_description {
    padding: 10px 10px 20px 10px;
    background: url("../images/border-decor.png") repeat-x bottom left;
    background-size: 20px;
}
.articles__pic_description__title {
    margin:0;
    padding:0;
    font-size: 14px;
    color: #666666;
}
.articles__pic_description__body {
    margin-top: 10px;
    padding:0;
    font: 11px Arial, sans-serif;
    color: #999999;
}


.articles__text_content {
    color: #666666;
    line-height: 1.5em;
}

/*!!!!!!!!!!!!!!~~~~~~~~~ SECTION_TABBS ~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!*/
.tabbs_caption {
    font: bold 18px Oxygen, sans-serif;
}
.highlighted {
    background: #ffe7b9;
    color: #c07e00;
}
.tabbs_body {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    width: auto;
    height: 350px;
    position: relative;
}
.tabbs_menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.tabbs_menu__item {
    margin: 0;
    padding: 0;
    border: solid #e6e6e6;
    border-width: 0 1px 0 0;
}
.gap_filler {
    background: #f9f9f9;
    border-width: 0 0 1px 0;
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.tabbs_menu__item input {
    display: none;
}
.tabbs_menu__item label {
    display: inline-block;
    padding: 16px 12px;
    color: #999999;
    font: 14px Arial, sans-serif;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 10px 0 0 0;
    background: #f9f9f9;
    white-space: nowrap;
}
.tabbs_menu__item label:hover {
    cursor: pointer;
}
.tabbs_menu__item input:checked ~ label{
    color: #666666;
    border-bottom: 1px solid transparent;
    background: white;
}
.tabbs_menu__item input:checked ~ .tabbs_menu__content_container {
    visibility: visible;
}


.tabbs_menu__content_container {
    visibility: hidden;
    background: white;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 27px 20px;
    font-family: Arial, sans-serif;
    color: #333333;
    border-radius: 10px;
    overflow: hidden;

}
.tabbs_content__title {
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;

}
.tabbs_menu__content_box {
    display: flex;
    padding: 20px 0 40px 0;
    font-size: 12px;
    line-height: 1.9em;
}
.tabbs_content__list {
    flex: 2;
    text-transform: capitalize;
}
.tabbs_content__pic_box {
    flex: 1;
    margin: 0 20px;
    display: flex;
}
.tabbs_content__pic {
    margin-right:15px;
    width: 140px;
    height: 120px;
}
.tabbs_content__pic_description {
    color: #999999;
}
.tabbs_content__pic_description_title {
    margin:0;
    padding:0;
    color: #333333;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.footer_lists {
    display: flex;
    list-style: none;
    padding: 0;
}
.footer_lists_section {
    flex: 1;
}
.footer_lists_section:nth-child(2) {
    margin: 0 50px;
}
.footer_lists_section:last-child {
    flex: 2;
}
.list__content {
    list-style: none;
    color: #ffad19;
    font: bold 12px Arial, sans-serif;
    text-transform: uppercase;
    padding: 0;
}
.list__content_item {
    color: #666666;
    font: normal 12px Arial, sans-serif;
    text-transform: capitalize;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}
.list__content_item:first-of-type {
    margin-top: 15px;
}
.list__content_item:last-of-type {
    border: none;
}
.style_image li {
    position: relative;
    text-indent: 25px;
}
.style_image li::before {
    content: url("../images/galka.jpg");
    position: absolute;
    top: 12px;
    left: -25px;
}

.list__content_article {
    margin: 0;
    padding: 0;
    font: 11px Arial, sans-serif;
    color: #aaaaaa;
    text-transform: none;
}













@keyframes article_pic__overlay-display {
    from {opacity: 0;}
    25% {opacity: 0.25;}
    35% {opacity: 0.35;}
    45% {opacity: 0.45;}
    55% {opacity: 0.55;}
    65% {opacity: 0.65;}
    75% {opacity: 0.75;}
    to {opacity: 1;}
}




