body {
    background: url(../images/body_background.png);
}
.site_body {
    width: 1700px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-bottom: double #e6e6e6;
    border-radius: 10px;
    position: relative;
    background: white;
}
.site_body:before, .site_body:after {
    content: "";
    position: absolute;
    top: 80%;
    bottom: 12px;
    left: 25px;

    width: 50%;
    max-width:700px;

    border-radius: 10px;
    background: transparent;
    box-shadow: 0 5px 30px rgba(0,0,0,.8);
    transform: rotate(-2deg);
    z-index: -1;
}
.site_body:after {
    transform: rotate(2deg);
    right: 25px;
    left: auto;
    z-index: -1;
}
hr {
    margin: 80px 0 20px 0;
    opacity: 0.5;
}

/*!!!!!~~~~~~~~ HEADER ~~~~~~~~~~!!!!!!!*/
.header_block {
    position: relative;
}
.company_logo {
    display: inline-block;
    font: 400 40px "Oleo Script",sans-serif;
}
.company_name,
.company_description
{
    margin: 0;
    padding: 0;
}
.company_description {
    margin-top: 3px;
    font: 11px Arial, sans-serif;
    color: #999999;;
}

.menu_bar {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    color: #666666;
    font: 14px "Oxygen", sans-serif;
}
.menu_item {
    display: inline-block;
    position: relative;
    margin: 0 20px;
    padding: 7px 13px;
}
.menu_item:hover {
    color: #222222;
    background: #f5f5f5;
}
.menu_item:hover  .sub_menu_wrap {
    display: inline-block;
}
.sub_menu_wrap {
    white-space: nowrap;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 30px;
    left: -5px;
    border: solid #e0e0e0 1px;
    border-radius: 3px;
    background: white;
    font: 400 12px "Oxygen", sans-serif;
}
.sub_menu_wrap::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 14px;
    width: 10px;
    height: 10px;
    border: solid #e0e0e0;
    border-width: 0 1px 1px 0 ;
    background: #f5f5f5;
    transform: rotate(45deg) skew(-20deg,-20deg);
}
.sub_menu_item {
    margin: 0 10px;
    padding: 5px 0;
    list-style: none;
    border-bottom: 1px solid #e0e0e0;
}
.sub_menu_item:last-child {
    border: 0;
}

.sub_menu__article {
    margin: 0;
    padding: 4px 5px;
    color: #aaaaaa;
    font:400 10px Arial, sans-serif;
    border-radius: 5px;
}
.sub_menu__article:hover {
    background: #f5f5f5;
    border-bottom: 2px solid yellow;
}
.sub_menu__article_title {
    display: block;
    font: 400 12px "Oxygen", sans-serif;
    color: black;
}





.menu_item:last-child {
    padding: 0;
}
.apply_button {
    position: relative;
    display: block;
    padding: 8px;

    text-decoration: none;
    text-align: center;
    text-shadow: 0 -1px 0 orange;
    color: white;

    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
    border: 1px solid orange;
    border-radius: 5px;
}
.apply_button::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    content: "";
    width: 30px;
    height: auto;
    background: #ffc552;
    border-radius: 100%;
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
    border: 1px solid orange;
    z-index: -1;
}
.apply_button:hover {
    animation: apply_button_moving 0.3s;
}
.apply_button:hover::after {
    right: -11px;
    transition: all 0.5s cubic-bezier(0,10,1,-3);
}


/*~~~~~~~~~~~~!!!!!!!!!!!!!!!! CYNEMATOGRAPHY !!!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~*/
.cinematography {
    display: flex;
    padding: 63px 74px;
}
.cinema__pic {
    position: relative;
    width: 500px;
    height: 300px;
    background: url("../images/super-hero.png") no-repeat;
    background-size: 100% 100%;
}
.cinema_pic__overlay {
    position: absolute;
    bottom: 10px;
    right: 6px;
    left: 5px;
    display: flex;
    height: 50px;
}
.overlay_box {
    background: rgba(0,0,0,0.7);
    border-radius: 5px;
}
.overlay_arrow {
    flex: 1;
    margin: 0 10px;
}
.overlay_main {
    flex: 4;
    padding: 5px;
}
.overlay__content_title {
    display: inline-block;
    font: 13px Arila, sans-serif;
    color: #f6f6f6;
    text-decoration: none;
}
.overlay__content_title:hover {
    text-decoration: underline;
    transform: scale(1.2,1.2);
    margin-left: 15px;
    transition: all 0.4s;
}
.overtlay__content_price {
    color: #ffc14c;
    font: 11px Arial, sans-serif;
}
.overtlay__content_location {
    color: #676767;
    font: 11px Arial, sans-serif;
}





.cinema_preview {
    width: 100%;
    padding: 0 20px;
    text-align: right;
    margin-left: 74px;
    font-family: Oxygen, sans-serif;
}
.cinema_preview__title {
    margin: 0;
    padding: 0;
    font-size: 38px;
    color: #515151;
}
.cinema_preview__article {
    font-size: 14px;
    color: #666666;
}



.cinema_preview__trailer_butt {
    display: inline-block;
    position: relative;
    padding: 10px 80px 10px 10px;

    text-align: left;
    text-decoration: none;
    text-shadow: 0 -1px 0 orange;
    text-transform: capitalize;
    font: 17px "Oxygen", sans-serif;
    line-height: 0.8em;

    color: white;
    background: linear-gradient(to top, #f1e767 0%,#feb645 60%);
    border-radius: 6px;
    border: 1px solid orange;
}
.cinema_button_quality {
    color: rgba(255,69,0,0.7);
    text-shadow: 0 1px 0 yellow;
    text-transform: uppercase;
    font: bold 10px Arial,sans-serif;
}
.cinema_preview__trailer_butt::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    bottom: 0;

    width: 50px;
    height: calc(100% - 6px);
    border-left: 1px solid orange;

    background: url("../images/galka.jpg") no-repeat center;
    background-size: 50% 50%;
}
.cinema_preview__trailer_butt:hover {
    transform: scale(1.2,1.2);

    animation: shaking 1s infinite 3s;
    transition: all 1s ease;
}



/*!!!!!!!!!!!!!!!!~~~~~~~~~~~~ SECTIONS_ARTICLES ~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!*/
.articles {
    font-family: Oxygen, sans-serif;
}
.articles_header {
    font-size: 18px;
}
.articles_body {
    display: flex;
}
.middle_column {
    margin: 0 20px;
}
.left_column .articles_pic_block {
    background: #f0f0f0;
}
.middle_column .articles_pic_block {
    background: #f4f4f4;
}
.right_column .articles_pic_block {
    background: #f6f6f6;
}

.articles_pic_block {
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom: 0;

}
.articles__pic_container {
    display: flex;
    height: 200px;
    box-sizing: border-box;
    background: url("../images/articles_pic1.jpg") no-repeat center;
    background-size: 100% 100%;

    border: 2px solid transparent;
}
.articles__pic_container:hover > .article_pic__overlay_buttons {
    visibility: visible;
    animation: opacity_anime 0.3s ease;
}
.article_pic__overlay_buttons {
    visibility: hidden;
    display: flex;
    margin: auto;
}
.overlay__buttons_item {
    display: block;
    content: url(../images/galka.jpg);
    margin: 0 25px;
    padding: 15px;
    background: white;
    border-radius: 100%;
    border-bottom: 1px solid grey;
    box-shadow: 0 0 0 10px rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
}
.overlay__buttons_item:hover {
    transform: scale(2,2);
    box-shadow: 0 0 0 5px rgba(0,0,0,0.3);
}

.articles__pic_description {
    padding: 10px 10px 20px 10px;
    background: url("../images/border-decor.png") repeat-x bottom left;
    background-size: 20px;
}
.articles__pic_description__title {
    margin:0;
    padding:0;
    font-size: 14px;
    color: #666666;
}
.articles__pic_description__body {
    margin-top: 10px;
    padding:0;
    font: 11px Arial, sans-serif;
    color: #999999;
}


.articles__text_content {
    color: #666666;
    line-height: 1.5em;
}

/*!!!!!!!!!!!!!!~~~~~~~~~ SECTION_TABBS ~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!*/
.tabbs_caption {
    font: bold 18px Oxygen, sans-serif;
}
.highlighted {
    background: #ffe7b9;
    color: #c07e00;
}
.tabbs_body {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    width: auto;
    height: 350px;
    position: relative;
}
.tabbs_menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.tabbs_menu__item {
    margin: 0;
    padding: 0;
    border: solid #e6e6e6;
    border-width: 0 1px 0 0;
}
.gap_filler {
    background: #f9f9f9;
    border-width: 0 0 1px 0;
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.tabbs_menu__item input {
    display: none;
}
.tabbs_menu__item label {
    display: inline-block;
    padding: 16px 12px;
    color: #999999;
    font: 14px Arial, sans-serif;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 10px 0 0 0;
    background: #f9f9f9;
    white-space: nowrap;
}
.tabbs_menu__item label:hover {
    cursor: pointer;
}
.tabbs_menu__item input:checked ~ label{
    color: #666666;
    border-bottom: 1px solid transparent;
    background: white;
}
.tabbs_menu__item input:checked ~ .tabbs_menu__content_container {
    display: block;
    background: white;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 27px 20px;
    font-family: Arial, sans-serif;
    color: #333333;
    border-radius: 10px;
    overflow: hidden;
    opacity: 1;
    transition: all 1s;
}


.tabbs_menu__content_container {
    display: none;
}
.tabbs_content__title {
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;

}
.tabbs_menu__content_box {
    display: flex;
    padding: 20px 0 40px 0;
    font-size: 12px;
    line-height: 1.9em;
}
.tabbs_content__list {
    flex: 2;
    text-transform: capitalize;
}
.tabbs_content__pic_box {
    flex: 1;
    margin: 0 20px;
    display: flex;
}
.tabbs_content__pic {
    margin-right:15px;
    padding: 2px;
    width: 140px;
    height: 120px;
    outline: 1px solid rgba(0,0,0,0.2);
}
.tabbs_content__pic_description {
    color: #999999;
}
.tabbs_content__pic_description_title {
    margin:0;
    padding:0;
    color: #333333;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.footer_lists {
    display: flex;
    list-style: none;
    padding: 0;
}
.footer_lists_section {
    flex: 1;
}
.footer_lists_section:nth-child(2) {
    margin: 0 50px;
}
.footer_lists_section:last-child {
    flex: 2;
}
.list__content {
    list-style: none;
    color: #ffad19;
    font: bold 12px Arial, sans-serif;
    text-transform: uppercase;
    padding: 0;
}
.list__content_item {
    color: #666666;
    font: normal 12px Arial, sans-serif;
    text-transform: capitalize;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}
.list__content_item:first-of-type {
    margin-top: 15px;
}
.list__content_item:last-of-type {
    border: none;
}
.style_image li {
    position: relative;
    text-indent: 45px;
}
.style_image li::before {
    content: url("../images/galka.jpg");
    position: absolute;
    top: 12px;
    left: -45px;
}

.list__content_article {
    margin: 0;
    padding: 0;
    font: 11px Arial, sans-serif;
    color: #aaaaaa;
    text-transform: none;
}













@keyframes shaking {
    from {top: 0;}
    25% {top: -5px;}
    35% {left: -5px;}
    45% {right: -5px;}
    55% {bottom: -2px;}
    65% {top: 4px;}
    75% {bottom: 3px;}
    to {top: 2px;}
}
@keyframes opacity_anime {
    from {opacity: 0;}
    25% {opacity: 0.25;}
    35% {opacity: 0.35;}
    45% {opacity: 0.45;}
    55% {opacity: 0.55;}
    65% {opacity: 0.65;}
    75% {opacity: 0.75;}
    to {opacity: 1;}
}

@keyframes apply_button_moving {
    from {margin: 0;}
    50% {transform: translateX(-30px);}
    to {margin: 0;}
}
